parameters:
	ignoreErrors:
		-
			message: '#^Call to an undefined method RdKafka\\KafkaConsumer\:\:incrementalAssign\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Kafka/Callback/RebalanceCallback.php

		-
			message: '#^Call to an undefined method RdKafka\\KafkaConsumer\:\:incrementalUnassign\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Kafka/Callback/RebalanceCallback.php

		-
			message: '#^Parameter \#1 \$partitions of method Workshop\\Kafka\\Callback\\RebalanceCallback\:\:names\(\) expects array\<int, RdKafka\\TopicPartition\>\|null, array\|null given\.$#'
			identifier: argument.type
			count: 1
			path: src/Kafka/Callback/RebalanceCallback.php

		-
			message: '#^Negated boolean expression is always false\.$#'
			identifier: booleanNot.alwaysFalse
			count: 1
			path: src/Kafka/Runtime/ConsumerRunner.php
